<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Macrolect</title>
    <link rel="icon" type="image/png" href="images/logo.png">
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Icônes Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="../style.css">
</head>

<body class="bg-gray-50">

    <%- include('header') %>

        <!-- Pour ne pas que le contenu passe derrière la navbar -->
        <div class="h-20"></div>


        <div class="vente-container">
            <div class="card">
                <h3>Panneau solaire JINKO 590Wc</h3>
                <p><strong>Prix Flash :</strong> 70 000 CFA</p>

                <button class="btn" onclick="ajouterAuPanier('Panneau JINKO 590Wc')">Ajouter au panier</button>
            </div>
        </div>

        <button id="btn-commande" class="floating-btn" style="display: none;">
            Passer ma commande
        </button>
        <%- include('footer') %>
            <script src="../js/utils.js" defer></script>
            <script src="../js/navbar.js" defer></script>
</body>

</html>